.header {
    display: flex;
    justify-content: end;
    height: 50px;
    &__favorites{
        width: 122px;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
   
}