.header {
    display: flex;
    justify-content: end;
    height: 50px;
    &__favorites{
        width: 122px;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;

        &-image {
            filter: drop-shadow(16px 16px 20px rgb(200, 255, 0)) invert(75%);
        }
    }

    
   
}