:root {
  font-family: 'Martian Mono';
  line-height: 1.3;
  font-weight: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-base-black);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 1040px;
  margin: 0 auto;
}

.cards__box {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);

}



